* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    height: 100vh;

}

.header,
.head_header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(255, 151, 151);
    border-radius: 20px;
    width: 70vw;
}

.head_header {
    gap: 10px;
    width: 50vw;
    height: 20vh;
    border-radius: 20px;
    font-size: 1.5rem;
    background-color: white;
    margin-top: 10px;
    color: red;
    text-align: center;
}

.main-header {
    background-color: white;
    text-align: center;
    padding: 10px 0;
    width: 50vw;
    border-radius: 20px;
    color: red;
    margin-bottom: 10px;
}

.input_header,
.btn_header,
.select_header {
    background-color: red;
    outline: none;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
}

.btn_header {
    width: 20%;
    cursor: pointer;
}

.select_header {
    cursor: pointer;
}

/* ************************* */
.header_main {
    margin-top: 20px;
    background-color: rgb(255, 151, 151);
    border-radius: 20px;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.h1_header_main {
    background-color: white;
    width: 50%;
    text-align: center;
    color: red;
    border-radius: 10px;
}

.contenu {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.joueur {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    width: 90%;
    color: red;
    margin-top: 10px;
}

.joueur h2 {
    width: 20%;
}

.diffeculte,
.crono {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}




main {
    height: 100vh;
    background-color: rgb(255, 151, 151);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.h1_main {
    background-color: white;
    padding: 0 40px;
    border-radius: 10px;

}

img {
    width: 200px;
    height: 200px;
}

.container {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
    perspective: 1000px;
}

.card {
    border: 1px solid white;
    border-radius: 10px;
    position: relative;
    background-color: blueviolet;
    transform-style: preserve-3d;
    transition: all .2s;
    box-shadow: 1px 1px 10px black;
}

.card:active {
    transform: scale(.95);
    transform: all .2s;
}

.flip {
    transform: rotateY(180deg);
}

.face,
.do {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
}

.face {
    transform: rotateY(180deg);
}

.facile {
    height: 200px;
}

.no-show {
    display: none;
}

/* media queri */
@media (max-width: 768px) {
    .header {
        width: 90vw;
    }
    .head_header{
        width: 90%;
        padding: 20px 0px;
    }
    .head_header h1{
        font-size: 2.5rem;
    }
    .main-header{
        width: 90%;
    }
    .header_main{
        width: 90vw;
    }
    .h1_header_main{
        width: 90vw;
        font-size: 1.6rem;

    }
    .joueur{
        padding: 10px 20px;
        justify-content: space-around;

    }
    .joueur h2{
        font-size: 14px;
        margin-right: 20px;
    }
    .diffeculte,
    .crono{
        font-size: 14px;
        gap: 5px;
    }
    img {
        width: 100px;
        height: 100px;
    }
    .container {
        width: 350px;
        height: 300px;
    }
    .facile {
        height: 100px;
    }
}